# removing outliers with quantiles

In [1]:
#importing nessary libraries

import pandas as pd
import numpy as np

In [6]:
#reading csv

df=pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
#looking for data distribution and identifying outliers

df.price.describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [10]:
#find lower threshold and maximum threshold to avoid outliers

min_threshod,max_threshos=df.price.quantile([0.01,0.99])
min_threshod,max_threshos

(30.0, 799.0)

In [15]:
# making lower outlier dataframe to see descriptive analysis

df_less=df[df.price<min_threshod]
df_less.price.describe()

count    404.000000
mean      23.670792
std        6.208778
min        0.000000
25%       22.000000
50%       25.000000
75%       28.000000
max       29.000000
Name: price, dtype: float64

In [18]:
# making maximum outlier dataframe to see descriptive analysis

df_max=df[df.price>max_threshos]
df_max.price.describe()

count      474.000000
mean      1703.088608
std       1557.799196
min        800.000000
25%        900.000000
50%       1033.000000
75%       1799.750000
max      10000.000000
Name: price, dtype: float64

In [20]:
# making nessary dataframe values to get accurate analysis without outliers

df_accurate=df[(df['price']>min_threshod)&(df['price']<max_threshos)]
df_accurate.price.describe()

count    47744.000000
mean       138.832503
std        102.890554
min         31.000000
25%         70.000000
50%        108.000000
75%        175.000000
max        795.000000
Name: price, dtype: float64